.adf-fundraiser-title-column {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.adf-fundraiser-cover-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
}
.adf-fundraiser-cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.add-donations-column-amount {
    font-size: 1.05rem;
    font-weight: bold;
}

.adf-users-name-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.adf-users-avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.add-wallet-logo {
    border-radius: 0px;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;

}
.adf-fundraiser-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    min-width: 80px;
    min-height: 50px;
    border-radius: 4px;
    overflow: hidden;
}
.add-donations-column-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--btn-primary);
    color: var(--text-light);
}
.adf-fundraiser-title {
    font-size: 1rem;
    font-weight: 500;
}
.adf-users-avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.adf-action-popup {
    width: 200px;
}
.add-esewa {
    color: #60bb47;
}
.add-khalti {
    color: #592c8c;
}

.adf-fundraiser-details-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    z-index: 2000;
}
.add-fundraiser-details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    max-height: calc(100vh - 50px);
    padding: 20px;
    background: var(--text-light);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 30px;
}
.adf-fundraiser-details-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.adf-fundraiser-details-content::-webkit-scrollbar {
    display: none;
}
.adf-hide-popup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
}
.adf-popup-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.adf-popup-title2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 20px;
}
.adf-preview-item picture {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid rgb(174, 172, 172);
}

.adf-preview-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.adf-preview-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.adf-preview-line {
    width: 100%;
    height: 1px;
    background: var(--item-bg);
    border: 1px solid gray;
}

.adf-title-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adf-item-title {
    font-size: 1rem;
    font-weight: 600;
}
.adf-show-less-more {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 12px;
    background: none;
    border-bottom: 2px solid var(--btn-primary);
    width: 90px;
    padding: 5px 0px;
    cursor: pointer;
    transition: background .2s linear;
}
.adf-show-less-more:hover {
    background: var(--item-bg);
}
.add-view-donation-details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.add-popup-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.add-donation-details-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 12px;
}
.add-donation-fundraiser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.add-donation-fundraiser a {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 8px;
    border-radius: 12px;
    background: var(--item-bg);
    /* justify-content: center; */
}
.add-donation-fundraiser-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 60px;
    overflow: hidden;
    border-radius: 8px;
}
.add-donation-fundraiser-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-donation-fundraiser-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.add-donation-fundraiser-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.add-donation-fundraiser-text {
    font-size: .95rem;
    font-weight: 500;
}
.add-donation-details-listitem {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.add-listitem-first {
    margin-top: 10px;
}
.add-donation-details-key {
    font-size: 1rem;
    font-weight: bold;
}
.add-donation-details-value {
    font-size: 1rem;
    font-weight: 500;
}
.add-donation-line {
    width: 100%;
    height: 1px;
    background: var(--btn-primary);
}
.add-popup-title2 {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}
.add-transaction-details-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}