.oc-overview-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    color: var(--text-md);
}

.oc-overview-header {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.oc-overview-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.oc-overview-text {
    font-size: .95rem;
    font-weight: 500;
}

.oc-overview-cards-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 50px;
}

.oc-overview-card {
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    border-radius: 12px;
    overflow: hidden;
    /* padding: 0px 15px; */
}

.oc-overview-card-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 20px 15px;
    border-right: 3px solid var(--btn-primary);
}

.oc-overview-card-title {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.oc-overview-card-text {
    font-size: 1rem;
    font-weight: 500;
}

.oc-overview-card-line {
    width: 2px;
    height: 100%;
    background: var(--btn-primary);
}

.oc-overview-card-count {
    flex: 1;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.oc-overview-card-count span {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px 10px; */
    width: 35px;
    height: 35px;
    box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--btn-primary);
}

.oc-overview-active {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
    /* padding: 20px; */
    border-radius: 20px;
    margin: 20px 0px;
}
.oc-overview-active-header {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.oc-overview-active-title {
    font-size: 1.3rem;
    font-weight: bold;
}
.oc-overview-active-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.oc-prev-next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    background: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--text-medium);
    transition: color .2s linear;
}
.oc-prev-next-btn:hover {
    color: var(--btn-secondary);
}
.oc-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.oc-overview-active-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    margin: 50px auto;
}
.oc-get-started-btn {
    width: 200px;
    height: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--btn-primary);
    cursor: pointer;
}

.oc-get-started-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: calc(12px - 4px);
    width: 100%;
    height: 100%;
    color: var(--text-light);
    background: transparent;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.oc-get-started-btn:hover span {
    background: var(--text-light);
    color: var(--text-md);
}
.oc-overview-active-empty1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    color: gray;
}
.oc-overview-active-empty2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    color: gray;
}
.oc-details-sd-btn {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;

    column-gap: 10px;
    padding: 10px 0px;
    background: none;
    border: 2px solid var(--btn-primary);
    color: var(--btn-secondary);
    border-radius: 12px;
    cursor: pointer;
    transition: background .2s linear;
}

.oc-details-sd-btn:hover {
    background: var(--item-bg);
}
.oc-sd-btn-info {
    position: absolute;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-md);
    border-radius: 8px;
    color: var(--text-light);
    padding: 5px 10px;
    font-size: .9rem;
    font-weight: 500;
}
.oc-details-sd-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.oc-no-donation-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}
.oc-no-donation-text {
    font-size: .95rem;
    font-weight: 500;
    color: gray;
}

.oc-overview-active-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.oc-fundraiser-detials {
    display: flex;
    column-gap: 12px;
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    /* background: var(--item-bg); */
    /* border: 2px solid var(--item-bg); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.oc-details-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
}

.oc-details-left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oc-details-right {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px 0px;
}

.oc-fundraiser-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.oc-fundraiser-title:hover {
    text-decoration: underline;
}

.oc-fundraiser-text {
    font-size: .9rem;
    font-weight: 500;
}

.oc-fundraiser-overview-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.oc-fundraiser-progress {
    position: relative;
    width: 150px;
    height: 150px;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--btn-primary) var(--progress),
            var(--item-bg) 0deg);
}

.innerCircle {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
    background: var(--text-light);
    border-radius: 50%;
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.progressText span{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;

}
.oc-fundraiser-goal-details {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.oc-fundraiser-goal-amount {
    font-size: 1.2rem;
    font-weight: bold;
}
.oc-fundraiser-goal-text {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
}
.oc-fundraiser-donation-ac-card {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    width: 250px;
    padding: 20px 12px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
    border-radius: 12px;
    background: var(--item-bg);
}
.oc-fundraiser-donation-ac-icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px 6px; */
    height: 30px;
    width: 50px;
    background: var(--btn-primary);
    border-radius: 8px;
    color: var(--text-light);
    /* width: fit-content; */
    font-size: 1rem;
    font-weight: bold;
}
.oc-fundraiser-donation-ac-icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px 6px; */
    width: 30px;
    height: 30px;
    background: var(--btn-primary);
    border-radius: 8px;
    color: var(--text-light);
    /* width: fit-content; */
    font-size: 1.4rem;
}
.oc-fundraiser-donation-ac-text {
    font-size: 1.5rem;
    font-weight: bold;
}
.oc-fundraiser-donation-ac-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.oc-fundraiser-donor-details {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 20px;
}
.oc-donor-overview {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background: var(--item-bg); */
    /* border: 2px solid var(--item-bg); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 12px;
    flex: 1;
}
.oc-donor-overview-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.oc-donor-overview-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 10px;
}
.oc-box-types-item {
    display: flex;
    column-gap: 12px;
}
.oc-comments-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    border-radius: 50%;
    background: var(--item-bg);
    color: var(--btn-secondary);
    font-size: 1.4rem;
}
.oc-types-item-details {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.oc-types-item-name {
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 500;
}
.oc-types-item-amount-type {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.oc-types-item-amount {
    font-size: .9rem;
    font-weight: 600;
}
.oc-type-item-type {
    font-size: .9rem;
    font-weight: 500;
}

.oc-all-donor-list-cont {
    flex: 2;
}
.oc-all-donor-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.oc-all-donor-listitems {
    width: 45%;
}

