.category-container {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: 60px auto 50px auto;
    width: 100%;
    padding: 0px 50px;
}

.c-separator-line {
    width: 100%;
    height: 1px;
    background: gray;
    margin: 70px 0px;
}
.c-category-first {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-height: 600px;
    height: 60vh;
}
.c-category-first-left {
    max-width: 750px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.c-category-first-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.c-category-first-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.c-get-started-btn {
    width: 200px;
    height: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--btn-primary);
    cursor: pointer;
}

.c-get-started-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: calc(12px - 4px);
    width: 100%;
    height: 100%;
    color: var(--text-light);
    background: transparent;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.c-get-started-btn:hover span {
    background: var(--text-light);
    color: var(--text-md);
}

.c-category-first-right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.c-category-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.c-all-fundraisers {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
}
.c-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}
.c-all-fundraisers-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.c-fundraiser-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 20px;
}
.c-fundraiser-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 8px;
    border-radius: 12px;
    width: 30%;
    max-width: 350px;
    min-width: 300px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.c-fundraiser-item:hover {
    background: rgb(233, 244, 244);
}

.c-fundraiser-item:hover .d-fundraiser-cover-image {
    transform: scale(1.05);
}

.c-fundraiser-image-cont {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.c-fundraiser-cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform .3s linear;
}

.c-fundraiser-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 10px;
    flex-grow: 1;
    justify-content: space-between;
}

.c-fundraiser-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.c-details-progress {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.c-details-progress-top {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: rgb(219, 218, 218);
    overflow: hidden;
}

.c-progress-bar {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background: var(--btn-primary);
}

.c-progress-amount {
    font-weight: bold;
    font-size: .9rem;
}

.c-fundraiser-seemore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.c-fundraiser-seemore-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    column-gap: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 12px;
    color: var(--text-md);
    transition: background .2s linear, color .2s linear;
    background: rgb(233, 244, 244);
    cursor: pointer;
}

.c-fundraiser-seemore-btn:hover {
    background: var(--btn-primary);
    color: var(--text-light);
}