.navbar-container-wrapper {
    background: var(--text-light);  
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: sticky;
    top: 0px;
    left: 0px;
}
.navbar-container{ 
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.navbar-container .navbar-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.navbar-container .logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.navbar-container .logo-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.navbar-container .logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #028277;
}

.navbar-container .search-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(199, 199, 199);
    gap: .8rem;
    padding: .5rem 1.1rem;
    border-radius: 1.4rem;
    transition: background .3s linear, box-shadow .3s linear;
}
.navbar-container .search-wrapper:hover{
    background: inherit;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.navbar-container .search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.navbar-container .search-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container .navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.navbar-container .navbar-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: bold;
    padding: .5rem 1.1rem;
    border-radius: 1.4rem;
    transition: background .3s linear;
}
.navbar-container .navbar-pages:hover{
    background: rgb(231, 230, 230);
    border-bottom: 3px solid rgb(116, 115, 115);
}
.navbar-container .pages-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: .8rem;
    margin-left: 1.1rem;
}
.navbar-container .navbar-pages-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
}
.navbar-container .navbar-pages-btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem 1.5rem;
    color: var(--text-light);
    font-size: .9rem;
    font-weight: bold;
    background: transparent;
    transition: background .3s linear, color .3s linear;
}
.navbar-container .signin-btn{
    background: var(--btn-primary);
}
.navbar-container .signup-btn{
    background: var(--btn-secondary);
}
.navbar-container .signin-btn span{
    border-radius: .6rem 0rem 0rem .6rem;
}
.navbar-container .signup-btn span{
    border-radius: 0rem .6rem .6rem 0rem;
}

.navbar-container .signin-btn:hover span, .signup-btn:hover span{
    background: var(--text-light);
    color: var(--text-dark);
}

.navbar-container .username-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--btn-primary), var(--btn-secondary));
    color: var(--text-light);
    /* padding: .5rem 1rem; */
    width: 180px;
    height: 42px;
    border-radius: 10px;
    margin-left: 1.1rem;
    cursor: pointer;
    z-index: 1002;
}
.navbar-container .username-cont-left {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    transition: .2s linear;
}
.navbar-container .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
.navbar-container .username-cont-left:hover{
    transform: scale(1.04);
}
.navbar-container .username-text {
    font-size: 1.05rem;
    font-weight: 500;
}
.navbar-container .username-cont-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: .2s linear;
}
.navbar-container .rotate-updown {
    transform: rotate(180deg);
}
.navbar-container .user-page-lists {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 5%;
    border-radius: 10px;
    overflow: hidden;
    background: var(--text-light);
    color: var(--text-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 4px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1001;
    pointer-events: none;
}
.navbar-container .show-transition {
    transform: translateY(15%);
    opacity: 1;
    pointer-events: auto;
}
.navbar-container .user-page{
    background: inherit;
    transition: background .2s linear;
}
.navbar-container .user-page:hover {
    background: rgb(199, 199, 199);
}
.navbar-container .dashboard-btn {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 500;
    padding: 12px 12px 10px 12px;
    border-radius: 6px;
}

.navbar-container .sign-out-btn {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.05rem;
    font-weight: 500;
    padding: 10px 12px 12px 12px;
    color: rgb(149, 2, 2);
    border-radius: 6px;
}
.navbar-container .sign-out-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* @media screen and (max-width: 768px) {
    *:hover {
        background: none !important;
        color: inherit !important;
        text-decoration: none !important;
        transform: none !important;
        box-shadow: none !important;
    }
} */