.navbar-container{
    background: var(--text-light);  
    color: var(--text-dark); 
    display: flex;
    justify-content: space-between;
    padding: .8rem 4rem;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: sticky;
    top: 0px;
    left: 0px;
}

.navbar-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}
.logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(199, 199, 199);
    gap: .8rem;
    padding: .5rem 1.1rem;
    border-radius: 1.4rem;
    transition: background .3s linear, box-shadow .3s linear;
}
.search-wrapper:hover{
    background: inherit;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.search-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.navbar-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: bold;
    padding: .5rem 1.1rem;
    border-radius: 1.4rem;
    transition: background .3s linear;
}
.navbar-pages:hover{
    background: rgb(231, 230, 230);
    border-bottom: 3px solid rgb(116, 115, 115);
}
.pages-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: .8rem;
    margin-left: 1.1rem;
}
.navbar-pages-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
}
.navbar-pages-btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem 1.5rem;
    color: var(--text-light);
    font-size: .9rem;
    font-weight: bold;
    background: transparent;
    transition: background .3s linear, color .3s linear;
}
.signin-btn{
    background: var(--btn-primary);
}
.signup-btn{
    background: var(--btn-secondary);
}
.signin-btn span{
    border-radius: .6rem 0rem 0rem .6rem;
}
.signup-btn span{
    border-radius: 0rem .6rem .6rem 0rem;
}

.signin-btn:hover span, .signup-btn:hover span{
    background: var(--text-light);
    color: var(--text-dark);
}


@media screen and (max-width: 768px) {
    /* Targeting all elements with hover effects */
    *:hover {
        /* Reset hover effects */
        background: none !important;
        color: inherit !important;
        text-decoration: none !important;
        transform: none !important;
        box-shadow: none !important;
        /* Add other properties as needed */
    }
}