*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
}
:root {
  --nav-dark: #090125; 
  --light-greens: #02b508; 
  --light-gold: #cb9501; 
  --text-color: #ffffff; 
  --light-bg: #f5f5f5; 
  --dark-teal: #51a9b5; 
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5; 
}
main{
  margin-bottom: auto;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li{
  list-style: none;
}

.f{
  display: flex;
  align-items: center;
  justify-content: center;
}

.f1{
  display: flex;
}
.f2{
  align-items: center;
}
.f3{
  justify-content: center;
}
