*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #010717;
  background-image: radial-gradient(circle farthest-side, rgba(250, 249, 219, 0.94), rgba(249, 227, 219, 0.945)); */
}
main{
  margin-bottom: auto;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li{
  list-style: none;
}

.f{
  display: flex;
  align-items: center;
  justify-content: center;
}

.f1{
  display: flex;
}
.f2{
  align-items: center;
}
.f3{
  justify-content: center;
}