*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
}
:root {
  --btn-secondary: rgb(39, 77, 135); 
  --btn-primary: #43a5a1; 
  --text-light: #ffffff; 
  --text-medium: rgb(74, 74, 74);
  --text-md: rgb(51, 51, 51);
  --text-dark: rgb(32, 32, 32); 
  --text-dark-light: rgb(210, 209, 209); 
  --item-bg: rgb(183, 221, 221);
}
html {
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--text-light); 
}
main{
  margin-bottom: auto;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li{
  list-style: none;
}

.f{
  display: flex;
  align-items: center;
  justify-content: center;
}

.f1{
  display: flex;
}
.f2{
  align-items: center;
}
.f3{
  justify-content: center;
}
