.f-fundraise-first {
    display: flex;
    flex-direction: column;
    background: rgb(233, 244, 244);
    color: var(--text-md);
}

.f-fundraise-first-top {
    display: flex;
    align-items: center;
    margin: 30px auto;
    width: 100%;
}

.f-first-left {
    width: 50%;
    height: auto;
    position: relative;
    left: 5%;
    background: var(--text-light);
    z-index: 2;
    border-radius: 20px;
    padding: 50px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

}

.f-first-left-title {
    font-size: 3rem;
    font-weight: bold;
}

.f-first-left-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.f-fundraise-desc {
    font-size: 1.3rem;
    font-weight: 500;
}

.f-get-started-btn {
    width: 200px;
    height: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--btn-primary);
    cursor: pointer;
}

.f-get-started-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: calc(12px - 4px);
    width: 100%;
    height: 100%;
    color: var(--text-light);
    background: transparent;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.f-get-started-btn:hover span {
    background: var(--text-light);
    color: var(--text-md);
}

.f-first-right {
    width: 50%;
    height: auto;
    position: relative;
    right: 5%;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
}

.fundraise-coverpic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-fund-raise-bottom {
    margin: 30px auto;
    width: 90%;
    max-width: 1100px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 30px;
}

.f-benefit-card {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 25px;
    padding: 50px 30px;
    border-radius: 15px;
    background: var(--text-light);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.f-benefit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.f-benefit-text {
    font-size: 1.3rem;
    font-weight: 400;
}

.f-fundraise-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    column-gap: 5px;
}

.f-fundraiser-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: background .2s linear;
}

.f-fundraiser-pages:hover {
    background: rgb(199, 199, 199);
}

.f-start-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.f-how-to-start {
    margin: 0px auto;
    padding-top: 80px;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    color: var(--text-md);
}

.f-start-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.f-start-card {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 30px;
    border-radius: 15px;
    background: rgb(238, 237, 247);
}

.f-step-number {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(183, 221, 221);
    color: var(--btn-secondary);
    width: fit-content;
}

.f-start-card picture {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.f-step-image {
    width: 100%;
    height: 100%;
}

.f-start-card-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.f-start-card-title {
    font-size: 1.65rem;
    font-weight: 500;
}

.f-start-card-desc {
    font-size: 1.3rem;
}

.f-fundraiser-examples {
    margin: 0px auto;
    padding-top: 80px;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    color: var(--text-md);
}

.f-example-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.f-example-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 20px;
    color: var(--text-md);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    background: none;
    transition: background .2s linear, color .2s linear;
}

.f-example-title:hover {
    background: rgb(199, 199, 199);
}

.f-example-title.f-active-title {
    background: var(--text-md);
    color: var(--text-light);
}

.f-example-slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.f-example-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
    align-items: center;
}

.f-example-card-wrapper {
    flex: 0 0 100%;
    padding: 10px;
    transition: all 0.5s ease;
}

.f-example-card {
    width: 100%;
    display: flex;
    column-gap: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(55, 34, 1, 0.2);
}

.f-example-card picture {
    width: 50%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.f-example-coverpic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-example-details {
    padding: 10px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}

.f-details-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.f-details-desc {
    font-size: 1.2rem;
    font-weight: 500;
}

.f-details-progress {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.f-details-progress-top {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background: rgb(219, 218, 218);
    overflow: hidden;
}

.f-progress-bar {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background: var(--btn-primary);
}

.f-faqs-container {
    margin: 0px auto;
    padding-top: 80px;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    color: var(--text-md);
}

.f-faqs-all {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.f-faq-item {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.f-faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 1.2rem;
}
.f-faq-icon {
    transform: rotate(0deg);
    transition: transform .2s linear;
}
.f-faq-icon-rotate {
    transform: rotate(180deg);
}
.f-faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: max-height 0.2s linear, padding .2s linear;
}

.animate-faq {
    max-height: 40px;
    padding: 0px 20px 20px 20px;
}

.f-fundraiser-categories {
    margin: 0px auto 50px auto;
    padding-top: 80px;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    color: var(--text-md);
}
.f-fundraiser-category-desc {
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
}
.f-category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    width: 100%;
}
.f-category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 150px;
    min-width: 110px;
    border-radius: 12px;
    transform: scale(1);
    transition: transform .2s linear;
    cursor: pointer;
}
.f-category-item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}
.f-category-item a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}
.f-category-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.f-category-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
}
