.homepage-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.homepage-container picture{
    display: flex;
    /* height: calc(100vh - 70px); */
    height: 85vh;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: -1;
    background: var(--btn-primary);
}
.homepage-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homepage-first-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    top: calc(40vh + 70px);
    left: 50%;
    width: 100%;
    padding: 0px 20px;
    max-width: 600px;
    transform: translateX(-50%) translateY(-70%);
    color: var(--text-dark);
    z-index: 1;
}
.homepage-title-small {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.homepage-title-big {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.homepage-container .get-started-btn {
    width: 200px;
    height: 45px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    /* background: var(--btn-primary); */
    background: var(--btn-secondary);
    cursor: pointer;
}
.homepage-container .get-started-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: calc(16px - 4px);
    width: 100%;
    height: 100%;
    color: var(--text-light);
    background: transparent;
    transition: background .3s linear, color .3s linear;
}
.homepage-container .get-started-btn:hover span {
    background: var(--text-light);
    color: var(--text-md);
}

.homepage-second {
    height: 700px;
    background: var(--text-light);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 50px;
    text-align: center;    
    /* position: relative; */
    margin-top: 75vh;
    z-index: 2;
}