.signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px auto;
    /* overflow: hidden; */
}

.signin-container .red-box {
    background: #6059c2;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 0px;
    z-index: -1;
    transform: rotate(7deg);
    border-radius: 40px;
}

.signin-container .blue-box {
    background: #cb9501;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 0px;
    z-index: -1;
    transform: rotate(-7deg);
    border-radius: 40px;
}

.signin-container .white-box {
    background: white;
    width: 380px;
    height: 600px;
    z-index: 1;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    padding: 40px 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}
.signin-container .signin-title{
    text-align: center;
    font-size: 1.4em;
    color: rgb(74, 74, 74);
    font-weight: bold;
}
.signin-container .signin-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
}
.signin-container .signin-form button:disabled{
    cursor: not-allowed;
}
.signin-container .signin-form-btn{
    width: 100%;
    height: 50px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px 0px; */
    border-radius: 22px;
    background: linear-gradient(to right, #cb9501, #6059c2);
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background .4s ease-in-out;
}
.signin-container .signin-form-btn:hover{
    background: linear-gradient(to left, #cb9501, #6059c2);

}
.signin-container .forgot-password-btn-contianer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px auto;
}
.signin-container .forgot-password-btn{
    padding: 2px 0px;
    background: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
    transform: perspective(1px) translateZ(0);
    transition: .25s;
    width: fit-content;
}
.signin-container .forgot-password-btn:hover{
    color: #cb9501;
    transform: scale(1.01);
}

.signin-container .new-to-brand{
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.signin-container .no-account-text{
    color: rgb(74, 74, 74);
}
.signin-container .signup-link{
    color: #6059c2;
    transform: perspective(1px) translateZ(0);
    transition: .25s;
    font-weight: bold;
}
.signin-container .signup-link:hover{
    transform: scale(1.06);
}