.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    /* overflow: hidden; */
}

.login-container .red-box {
    background: #6059c2;
    width: 380px;
    height: 500px;
    position: absolute;
    top: 0px;
    z-index: -1;
    transform: rotate(7deg);
    border-radius: 40px;
}

.login-container .blue-box {
    background: #cb9501;
    width: 380px;
    height: 500px;
    position: absolute;
    top: 0px;
    z-index: -1;
    transform: rotate(-7deg);
    border-radius: 40px;
}

.login-container .white-box {
    /* background-color: rgb(248, 247, 247); */
    background: white;
    width: 380px;
    height: 500px;
    z-index: 1;
    border-radius: 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 40px 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}
.login-container .signin-title{
    text-align: center;
    font-size: 1.4em;
    color: rgb(74, 74, 74);
    font-weight: bold;
}
.login-container .signin-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
}
.login-container .signin-form button:disabled{
    cursor: not-allowed;
}
.login-container .signin-form-btn{
    width: 100%;
    height: 50px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px 0px; */
    border-radius: 22px;
    background: linear-gradient(to right, #cb9501, #6059c2);
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background .4s ease-in-out;
}
.login-container .signin-form-btn:hover{
    background: linear-gradient(to left, #cb9501, #6059c2);

}
.login-container .forgot-password-btn-contianer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px auto;
}
.login-container .forgot-password-btn{
    padding: 2px 0px;
    background: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
    transform: perspective(1px) translateZ(0);
    transition: .25s;
    width: fit-content;
}
.login-container .forgot-password-btn:hover{
    color: #cb9501;
    transform: scale(1.01);
}

.login-container .new-to-brand{
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.login-container .no-account-text{
    color: rgb(74, 74, 74);
}
.login-container .signup-link{
    color: #6059c2;
    transform: perspective(1px) translateZ(0);
    transition: .25s;
    font-weight: bold;
}
.login-container .signup-link:hover{
    transform: scale(1.06);
}

.login-container .notifyme {
    width: 90%;
    position: absolute;
    background: white;
    z-index: 5;
    top: 30px;
    left: 20px;
    transform: translateY(-100%);
    opacity: 0;
    transition: .3s linear, opacity .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgba(35, 35, 35, 0.4);
}

.login-container .notifyme-active {
    transform: translateY(0%);
    opacity: 1;
}

.login-container .notifyme-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px 4px 12px;
}

.login-container .notifyme-left {
    display: flex;
    gap: 5px;
    align-items: center;
}

.login-container .notifyme-text {
    color: rgb(180, 4, 4);
}

.login-container .notifyme-buttom {
    height: 4px;
    width: 100%;
    /* background-color: rgb(180, 4, 4); */
    animation: reduceWidth 4s linear forwards;
}

.login-container .uncheck {
    border: none;
    border-radius: 50%;
    color: rgb(180, 4, 4);
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .check {
    border: none;
    border-radius: 50%;
    color: rgb(1, 126, 8);
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes reduceWidth {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}