.ds-donations-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    color: var(--text-md);
}
.ds-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}
.ds-fundraisers-header {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.ds-fundraisers-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.ds-fundraisers-text {
    font-size: .95rem;
    font-weight: 500;
}

.ds-donations-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    margin: 50px auto;
}
.ds-no-donations-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}
.ds-no-donations-text {
    font-size: .95rem;
    font-weight: 500;
    color: gray;
}
.ds-get-started-btn {
    width: 200px;
    height: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--btn-primary);
    cursor: pointer;
}

.ds-get-started-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: calc(12px - 4px);
    width: 100%;
    height: 100%;
    color: var(--text-light);
    background: transparent;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.ds-get-started-btn:hover span {
    background: var(--text-light);
    color: var(--text-md);
}

.ds-donations-lists {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}
.ds-donations-listitem {
    display: flex;
    /* column-gap: 20px;     */
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.ds-donation-left {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 16px 0px;
    border-right: 2px solid var(--btn-primary);
}
.ds-donation-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--item-bg);
    font-size: 1.5rem;
}
.ds-donation-amount {
    font-size: 1.2rem;
    font-weight: bold;
}
.ds-donation-right {
    width: calc(100% - 150px);
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ds-donation-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.ds-donation-title:hover {
    text-decoration: underline;
}
.ds-donation-view-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ds-donation-manage-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 8px;
    background: var(--btn-primary);
    color: var(--text-light);
    cursor: pointer;
    font-weight: bold;
    font-size: .85rem;
    transition: background .2s linear;
}
.ds-donation-manage-btn:hover {
    background: var(--btn-secondary);
}

.ds-manage-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    animation: whiteToBlack 0.3s linear;
}
.ds-overlay-hide {
    animation: BlackToWhite 0.3s linear;
}
.ds-manage-popup {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    max-height: calc(100vh - 50px);
    padding: 20px;
    background: var(--text-light);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    animation: transformBig 0.3s linear;
    position: relative;
    padding: 30px;
}
.ds-popup-hide {
    animation: transformSmall 0.3s linear;
}
.ds-hide-popup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
}
.ds-view-donation-details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.ds-popup-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.ds-donation-details-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 12px;
}
.ds-donation-fundraiser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ds-donation-fundraiser a {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 8px;
    border-radius: 12px;
    background: var(--item-bg);
    /* justify-content: center; */
}
.ds-donation-fundraiser-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 60px;
    overflow: hidden;
    border-radius: 8px;
}
.ds-donation-fundraiser-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ds-donation-fundraiser-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.ds-donation-fundraiser-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.ds-donation-fundraiser-text {
    font-size: .95rem;
    font-weight: 500;
}
.ds-donation-details-listitem {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.ds-listitem-first {
    margin-top: 10px;
}
.ds-donation-details-key {
    font-size: 1rem;
    font-weight: bold;
}
.ds-donation-details-value {
    font-size: 1rem;
    font-weight: 500;
}
.ds-donation-line {
    width: 100%;
    height: 1px;
    background: var(--btn-primary);
}
.ds-popup-title2 {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}
.ds-transaction-details-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}